doctype
html
	head
		title Add New Librarian
		meta(charset = "utf-8")
		meta(http-equiv="X-UA-Compatible" , content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		

		//style sheets 

		//link(href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css",rel="stylesheet")
  
		link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css",rel="stylesheet")

		link(href="/css/css for adding normal users.css",rel="stylesheet")
	body
		.container-fluid
			div.a
			div.b
				h1 Add New Librarian
				br
				h3 Librarian Details	
				br
				//1st table
				table(class = "table" ,cellpadding=4 , border=0)
					form
						
						//IITH ID				

						tr
							td.col-xs-2
								strong IITH I.D.*
							td.col-xs-2
								input(class="col-xs-8" , type=text ,placeholder = "enter id....",name = "college_id" ,id = "college_id")

						tr(class="error_row_1" , style="display:none")
							td#id1
							td#id1
								nav(class="col-xs-10", id="error_message_1", style="display:none")
						//name						

						tr
							td.col-xs-2
								strong Name*
							td.col-xs-2
								input(class="col-xs-8" , type=text ,placeholder = "enter name....",name = "name" ,id = "name")

						tr(class="error_row_2" , style="display:none")
							td#id1
							td#id1
								nav(class="col-xs-10", id="error_message_2", style="display:none")

						//sex

						tr
							td.col-xs-3
								strong Sex*
							td.col-xs-10								
								form#f2
									label(for="male") Male&nbsp;&nbsp;&nbsp;
										input(type="radio" , id ="male" ,name="gender" ,value="male")
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									label(for="female") Female&nbsp;&nbsp;&nbsp;
										input(type="radio" , id ="female" ,name="gender" ,value="female")
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

								
						tr(class="error_row_3" , style="display:none")
							td#id1
							td#id1
								nav(class="col-xs-10" ,id="error_message_3", style="display:none")


						// Email Id


						tr
							div(id = "loader-wrapper" style="visibility: hidden;")
								div(id = "loader")
							td.col-xs-2
								strong IITH Mail Id*
							td 
								input(type="email" , id ="email" ,name ="email", placeholder= "enter e-mail id....", class="col-xs-10" )
						tr(class="error_row_4" , style="display:none")
							td#id1
							td#id1
								nav(class="col-xs-10" ,id="error_message_4", style="display:none")

						// password 
								
						tr
							td.col-xs-2
								strong Password*
							td 
								input(type="password" , id ="password" ,name ="password", placeholder= "enter password....", class="col-xs-10" )
						tr(class="error_row_5" , style="display:none")
							td#id1
							td#id1
								nav(class="col-xs-10" ,id="error_message_5", style="display:none")


						tr
							td.col-xs-2
								strong Confirm Password*
							td 
								input(type="password" , id ="cnfpassword" ,name ="cnfpassword", placeholder= "reenter password....", class="col-xs-10" )
						tr(class="error_row_6" , style="display:none")
							td#id1
							td#id1
								nav(class="col-xs-10" ,id="error_message_6", style="display:none")


						//Phone number


						tr
							td.col-xs-2
								strong Phone Number*
							td
								input(class="col-xs-5" , type=text ,placeholder = "enter phone number....",name = "phone" ,id = "phone")
						tr(class="error_row_7" , style="display:none")
							td#id1
							td#id1
								nav(class="col-xs-10", id="error_message_7", style="display:none")

						// description
						tr
							td.col-xs-2
								strong Brief Description
							td
								textarea(class="col-xs-12" ,placeholder = "About...",rows = "3",name = "desc" ,id = "desc")
						tr(class="error_row_8" , style="display:none")
							td#id1 
							td#id1 
								nav(class="col-xs-10", id="error_message_8", style="display:none")
						
				button(class = "btn btn-primary btn-lg btn-block" id="add") Add Librarian
				button(class = "btn btn-primary btn-lg btn-block" id="reset") Add New Entry
			div.c
				pre
					h1
						strong Librarian I.D.
		//javascript files placed at end for better speed


		script( src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")


		script(src = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")


		script(src='/javascript/jquery for adding librarian.js' )

		
				

		
		

					


				
