doctype
html
	head
		title sql
		meta(charset = "utf-8")
		
	body
			div.b
				h1 Settings
					br
				h3
					strong sql
					form(action = '/harsh' , method = 'get')
						textarea(rows = "10" , name = "query")
						button( type = "submit") Change
				

