doctype
html
	head
		title Return books
		meta(charset = "utf-8")
		meta(http-equiv="X-UA-Compatible" , content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		

		//style sheets 

		//link(href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css",rel="stylesheet")
  
		link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css",rel="stylesheet")

		link(href="/css/css for adding normal users.css",rel="stylesheet")
	body
		.container-fluid
			div.a
			div.b
				h1 RETURN BOOKS
					br
					br
				table(class = "table" ,cellpadding=4 , border=0)

					tr
						td.col-xs-5
							strong User Roll No.
						td
							input(type="text" , id ="roll_no" ,name="roll_no" ,class="col-xs-11",placeholder = "enter user roll no here....." required)
					tr(class="error_row_1" )
						td#id1
						td#id1
							nav(class="col-xs-10", id="error_message_1") #{error_message_1}
				
					tr 
						td.col-xs-5	Book Id
						td
							input(type="text" , id ="book" ,name="book" ,class="col-xs-11",placeholder = "enter Book Id here....." required)
					tr(class="error_row_2" )
						td#id1
						td#id1
							nav(class="col-xs-10", id="error_message_2") #{error_message_2}


					tr(id="date" , style="display:none")
						td.col-xs-5	Expected Last Day
						td
							input(type="text" , id ="last_day" ,class="col-xs-11" ,readonly)
					tr(class="error_row_3" )
						td#id1
						td#id1
							nav(class="col-xs-10", id="error_message_3") #{error_message_3}
					tr
						td.col-xs-5
						td
							button(class = "btn btn-lg btn-primary ",id="fine") Issue
			div.c 
		//javascript files placed at end for better speed

		script( src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")


		script(src = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")


		script(src='/javascript/jquery for issue book.js' )

